/* Font imports */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&family=Roboto+Mono:wght@500&display=swap");

/* Reset styles */
* {
	margin: 0;
	padding: 0;
	border: 0;
	font: inherit;
	vertical-align: baseline;
}

/* Global styles */
body {
	line-height: 1;
	background-color: #121212;
	color: #fff;
}

/* Typography */
h1,
p,
.label {
	font-family: "Inter", sans-serif;
	font-weight: 400;
}

.label {
	font-size: 120px;
	font-family: "Roboto Mono", sans-serif;
	font-weight: 400;
}

/* Buttons */
button {
	background: 0 0;
	border: none;
	color: #157dfb;
	cursor: pointer;
	font-family: "Inter", sans-serif;
	font-weight: 400;
	transition: color 0.2s;
}

button:active {
	color: #073b7a;
}

.tap-button {
	font-size: 24px;
	margin-top: 150px;
	background-color: #157dfb;
	color: #fff;
	padding: 52px;
	border-radius: 50%;
	height: 170px;
	width: 170px;
	font-weight: 600;
	outline: 16px solid #157dfb56;
}

.tap-button:active {
	background-color: #1370e0;
	color: #fff;
}

.left-nav-button {
	color: #ff2626;
	font-weight: 500;
}

.left-nav-button:active {
	color: #ff0000;
}

/* Navigation bar */
.ios-nav-bar {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 2em;
}

.ios-nav-bar button {
	font-size: 20px;
}

.ios-nav-bar .title {
	font-weight: 400;
	font-size: 18px;
}

.ios-nav-bar .nav-item {
	width: 94px;
	text-align: center;
}

.ios-nav-bar .nav-item:nth-child(1) {
	text-align: left;
}

/* Container */
.tap-container {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
}

.tap-contents {
	text-align: center;
}

/* Responsive styles */
@media (max-height: 250px) {
	.tap-container {
		height: auto;
	}
}
